{% extends "base.html" %}

{% block content %}
<div class="container">

<h1>Lista de clientes</h1>

</div>
<div class="container">


<!--
<table class="table table-primary table-striped">
    <thead>
      <tr>
        <th scope="col">NIF</th>
        <th scope="col">Nombre</th>
        
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
      <tr>
        <th scope="row">{{ cliente.nif }}</th>
        <td>{{ cliente.nombre }}</td>
       
        <td><a href="{{ url_for ('ver_cliente', ver_cliente = cliente.nif)  }}">
          <span class="badge bg-success text-dark">Ver</span></a><a href="{{ url_for ('editar_cliente', nif = cliente.nif)  }}">
           <span class="badge bg-info text-dark">Editar</span></a><a href="{{ url_for ('eliminar_cliente', nif = cliente.nif) }}">
           <span class="badge bg-danger text-dark">Borrar</span></a>
           <a href="{{ url_for ('crear_factura', nif = cliente.nif) }}">
           <span class="badge bg-danger text-dark">Nueva</span></a>
           <a href="{{ url_for ('ver_factura', num = cliente.nif) }}">
           <span class="badge bg-danger text-dark">Ver F</span></a>

          </td>
      </tr>

    </tbody> 
    {% endfor %}
  -->
  </table>
  <div class="">
    <div class="accordion" id="myAccordion">
      {% for cliente in clientes %}
        <div class="accordion-item my-1 shadow ">
            <h2 class="accordion-header" id="numero{{ cliente.nif }}">
                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#colapse{{ cliente.nif }}"><h1 class="display-6">{{ cliente.nombre }}</h1></button>									
            </h2>
            <div id="colapse{{ cliente.nif }}" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                <div class="card-body">
                    <p>Nif: {{ cliente.nif}}. </p>
                    <p>Teléfono: {{ cliente.telefono }} </p>
                    <p>Dirección: {{ cliente.direccion }} </p>
                    <p>Email: {{ cliente.email }} </p>
                    <p>Precio: {{ cliente.precio_metro }} </p>
                    <a href="{{ url_for ('ver_cliente', ver_cliente = cliente.nif)  }}"><button type="button" class="btn btn-success">Ver cliente</button></a>
                    <a href="{{ url_for ('editar_cliente', nif = cliente.nif)  }}"><button type="button" class="btn btn-info">Editar cliente</button></a>
                    <a href="{{ url_for ('crear_factura', nif = cliente.nif)  }}"><button type="button" class="btn btn-info">Crear factura</button></a>
                   
                 </div>
            </div>
        </div>
      {% endfor %}
       
        </div>
    </div>
</div>


</div>


   {% endblock %}
   
    




</div>
