{% extends "base.html" %}

{% block content %}



<div class="container">
  <h2 class="text-center mt-3">Listado de clientes</h2><br>

  <div class="container">





  </div>
  <div class="container">



    </table>
    <div class="">
      <div class="accordion" id="myAccordion">
        {% for cliente in clientes %}
        <div class="accordion-item my-1 shadow ">
          <h2 class="accordion-header" id="numero{{ cliente.nif }}">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
              data-bs-target="#colapse{{ cliente.nif }}">
              <h1 class="display-6">{{ cliente.nombre }}</h1>
            </button>
          </h2>
          <div id="colapse{{ cliente.nif }}" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
            <div class="card-body">
              <p><strong>Nif:</strong>{{ cliente.nif}}. </p>
              <p><strong>Teléfono:</strong> {{ cliente.telefono }} </p>
              <p><strong>Dirección:</strong> {{ cliente.direccion }} </p>
              <p><strong>Email:</strong> {{ cliente.email }} </p>
              <p><strong>Precio:</strong> {{ cliente.precio_metro }}€ </p>
              <a href="{{ url_for ('ver_cliente', ver_cliente = cliente.nif)  }}"><button type="button"
                  class="btn btn-success">Ver cliente</button></a>
              <a href="{{ url_for ('editar_cliente', nif = cliente.nif)  }}"><button type="button"
                  class="btn btn-info">Editar cliente</button></a>
              <!-- <a href="{{ url_for ('crear_factura', nif = cliente.nif)  }}"><button type="button" class="btn btn-info">Crear factura</button></a> -->

            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>


</div>

{% endblock %}