{% extends "base.html" %}
{% block content %}
<!-- <div class="container">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div> -->
        <div class="container">
            <h2 class="text-center mt-3">Editar cliente</h2><br>
        <div class="card text-dark bg-light mb-3 shadow " >
            <div class="container">
        <form method="post">
        {{ form.hidden_tag() }}
        {{ form.nif.label (class_="form-label") }} {{ form.nif (class_="form-control", value_= cliente.nif )}}
        {{ form.nombre.label (class_="form-label") }} {{ form.nombre (class_="form-control", value_= cliente.nombre )}}
        {{ form.direccion.label (class_="form-label") }} {{ form.direccion (class_="form-control", value_= cliente.direccion) }}
        {{ form.ciudad.label (class_="form-label") }} {{ form.direccion (class_="form-control", value_= cliente.ciudad) }}
        {{ form.provincia.label (class_="form-label") }} {{ form.direccion (class_="form-control", value_= cliente.provincia) }}
        {{ form.cp.label (class_="form-label") }} {{ form.direccion (class_="form-control", value_= cliente.cp) }}
        {{ form.telefono.label (class_="form-label") }} {{ form.telefono (class_="form-control", value_= cliente.telefono )}}
        {{ form.telefono_movil.label (class_="form-label") }} {{ form.telefono_movil (class_="form-control", value_= cliente.teledono_movil )}}
        {{ form.email.label (class_="form-label") }} {{ form.email (class_="form-control", value_= cliente.email) }}
        
        {{ form.precio_metro.label (class_="form-label") }} {{ form.precio_metro (class_="form-control", value_= cliente.precio_metro) }}
        <label class="form-label" for="notas">Notas</label> <textarea class="form-control" id="notas" name="notas" rows="5">{{ cliente.notas }}</textarea>
      
        
        <div class="">
            <br>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        </form>
    </div>
</div>
        </div>
<script>

   // document.getElementById('notas').innerText = "{{ cliente.notas }}";
   document.querySelector('notas').value = '{{ cliente.notas }}';
  </script>

{% endblock %}

