{% extends "base.html" %}
{% block content %}
<html>
<style>
  .color {
    color: #2e098b;
    filter: brightness(0) saturate(100%) invert(8%) sepia(59%) saturate(4222%) hue-rotate(253deg) brightness(94%) contrast(95%);
  }

  .text_color {

    color: #2e098b;
    filter: brightness(0) saturate(100%) invert(8%) sepia(59%) saturate(4222%) hue-rotate(253deg) brightness(94%) contrast(95%);
  }

  .border_color {
    border-style: solid;
    border-color: #2e098b;

    padding: auto;
  }

  .display {
    padding: 15px;
  }

  .input_box {
    height: 30px;
    width: 80px;
    background: none;

  }

  .etiqueta_hide {
    display: none;
  }

  .etiqueta_show {
    display: block;
  }
</style>

<body>
  <!--- Aqui se muestra una targeta de boostrap con los datos de la etiqueta, es el "template de las etiquetas" -->
  <div class="container">
    <button type="button" class="btn btn-primary d-print-none"  onclick="add_div()">+</button>
    <button type="submit" class="btn btn-success btn-bold px-4 float-right mt-3 mt-lg-0  d-print-none" onclick="printHTML()">Imprimir</button>
  </div>
  <div class="m-4">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col etiqueta_show" id="etiqueta1">
        <div class="card mb-3 display" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img class="img-fluid rounded-start color" src="/static/images/etiqueta.svg" alt="...">
            </div>
            <div class="col-md-8  gy-1 gx-2 border_color">
              <div class="card-body " style="max-width: 540px;">
                <h5 class="card-title text-center text_color"><u>DESTINO</u> {{ cliente.ciudad }}</h5>
                <p class="card-text text_color "><strong><u>Nombre:</u></strong><span class="texto_color"> {{
                  cliente.nombre }}</span></p>
                <p class="card-text text_color "><strong><u>Dirección:</u></strong><span class="texto_color"> {{
                    cliente.direccion }}</span></p>
                <p class="card-text text_color"><strong><u>Población:</u></strong> {{ cliente.ciudad }}</p>
                <p class="card-text text_color"><strong><u>C.P:</u></strong> {{ cliente.cp }}</p>
                <p class="card-text text_color"><strong><u>Provincia:</u></strong></u> {{ cliente.provincia }}</p>
                <p class="card-text text_color"><strong><u>Bultos: </u></strong><input class="input_box" type="text"
                    id="bultos" name="fname" style="text-align:center;font-weight: bold;"> </p>
                <p class="card-text text_color"><strong><u>Kg:</u></strong> <input class="input_box" type="text" id="kg"
                    name="fname" style="text-align:center;font-weight: bold;"> </p>

              </div>
            </div>

          </div>


        </div>
      </div>
      <div class="col etiqueta_hide" id="etiqueta2">
        <div class="card mb-3 display" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img class="img-fluid rounded-start color" src="/static/images/etiqueta.svg" alt="...">
            </div>
            <div class="col-md-8  gy-1 gx-2 border_color">
              <div class="card-body " style="max-width: 540px;">
                <h5 class="card-title text-center text_color"><u>DESTINO</u> {{ cliente.ciudad }}</h5>
                <p class="card-text text_color "><strong><u>Nombre:</u></strong><span class="texto_color"> {{
                  cliente.nombre }}</span></p>
                <p class="card-text text_color "><strong><u>Dirección:</u></strong><span class="texto_color"> {{
                    cliente.direccion }}</span></p>
                <p class="card-text text_color"><strong><u>Población:</u></strong> {{ cliente.ciudad }}</p>
                <p class="card-text text_color"><strong><u>C.P:</u></strong> {{ cliente.cp }}</p>
                <p class="card-text text_color"><strong><u>Provincia:</u></strong></u> {{ cliente.provincia }}</p>
                <p class="card-text text_color"><strong><u>Bultos: </u></strong><input class="input_box" type="text"
                    id="bultos2" name="fname" style="text-align:center;font-weight: bold;"> </p>
                <p class="card-text text_color"><strong><u>Kg:</u></strong> <input class="input_box" type="text"
                    id="kg2" name="fname" style="text-align:center;font-weight: bold;"> </p>

              </div>
            </div>

          </div>


        </div>
      </div>
      <div class="col etiqueta_hide" id="etiqueta3">
        <div class="card mb-3 display" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img class="img-fluid rounded-start color" src="/static/images/etiqueta.svg" alt="...">
            </div>
            <div class="col-md-8  gy-1 gx-2 border_color">
              <div class="card-body " style="max-width: 540px;">
                <h5 class="card-title text-center text_color"><u>DESTINO</u> {{ cliente.ciudad }}</h5>
                <p class="card-text text_color "><strong><u>Nombre:</u></strong><span class="texto_color"> {{
                  cliente.nombre }}</span></p>
                <p class="card-text text_color "><strong><u>Dirección:</u></strong><span class="texto_color"> {{
                    cliente.direccion }}</span></p>
                <p class="card-text text_color"><strong><u>Población:</u></strong> {{ cliente.ciudad }}</p>
                <p class="card-text text_color"><strong><u>C.P:</u></strong> {{ cliente.cp }}</p>
                <p class="card-text text_color"><strong><u>Provincia:</u></strong></u> {{ cliente.provincia }}</p>
                <p class="card-text text_color"><strong><u>Bultos: </u></strong><input class="input_box" type="text"
                    id="bultos3" name="fname" style="text-align:center;font-weight: bold;"> </p>
                <p class="card-text text_color"><strong><u>Kg:</u></strong> <input class="input_box" type="text"
                    id="kg3" name="fname" style="text-align:center;font-weight: bold;"> </p>

              </div>
            </div>

          </div>


        </div>
      </div>
      <div class="col etiqueta_hide" id="etiqueta4">
        <div class="card mb-3 display" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img class="img-fluid rounded-start color" src="/static/images/etiqueta.svg" alt="...">
            </div>
            <div class="col-md-8  gy-1 gx-2 border_color">
              <div class="card-body " style="max-width: 540px;">
                <h5 class="card-title text-center text_color"><u>DESTINO</u> {{ cliente.ciudad }}</h5>
                <p class="card-text text_color "><strong><u>Nombre:</u></strong><span class="texto_color"> {{
                  cliente.nombre }}</span></p>
                <p class="card-text text_color "><strong><u>Dirección:</u></strong><span class="texto_color"> {{
                    cliente.direccion }}</span></p>
                <p class="card-text text_color"><strong><u>Población:</u></strong> {{ cliente.ciudad }}</p>
                <p class="card-text text_color"><strong><u>C.P:</u></strong> {{ cliente.cp }}</p>
                <p class="card-text text_color"><strong><u>Provincia:</u></strong></u> {{ cliente.provincia }}</p>
                <p class="card-text text_color"><strong><u>Bultos: </u></strong><input class="input_box" type="text4"
                    id="bultos4" name="fname" style="text-align:center;font-weight: bold;"> </p>
                <p class="card-text text_color"><strong><u>Kg:</u></strong> <input class="input_box" type="text"
                    id="kg4" name="fname" style="text-align:center;font-weight: bold;"> </p>

              </div>
            </div>

          </div>


        </div>
      </div>
      <div class="col etiqueta_hide" id="etiqueta5">
        <div class="card mb-3 display" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img class="img-fluid rounded-start color" src="/static/images/etiqueta.svg" alt="...">
            </div>
            <div class="col-md-8  gy-1 gx-2 border_color">
              <div class="card-body " style="max-width: 540px;">
                <h5 class="card-title text-center text_color"><u>DESTINO</u> {{ cliente.ciudad }}</h5>
                <p class="card-text text_color "><strong><u>Nombre:</u></strong><span class="texto_color"> {{
                  cliente.nombre }}</span></p>
                <p class="card-text text_color "><strong><u>Dirección:</u></strong><span class="texto_color"> {{
                    cliente.direccion }}</span></p>
                <p class="card-text text_color"><strong><u>Población:</u></strong> {{ cliente.ciudad }}</p>
                <p class="card-text text_color"><strong><u>C.P:</u></strong> {{ cliente.cp }}</p>
                <p class="card-text text_color"><strong><u>Provincia:</u></strong></u> {{ cliente.provincia }}</p>
                <p class="card-text text_color"><strong><u>Bultos: </u></strong><input class="input_box" type="text"
                    id="bultos5" name="fname" style="text-align:center;font-weight: bold;"> </p>
                <p class="card-text text_color"><strong><u>Kg:</u></strong> <input class="input_box" type="text"
                    id="kg5" name="fname" style="text-align:center;font-weight: bold;"> </p>

              </div>
            </div>

          </div>


        </div>
      </div>
      <div class="col etiqueta_hide" id="etiqueta6">
        <div class="card mb-3 display" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img class="img-fluid rounded-start color" src="/static/images/etiqueta.svg" alt="...">
            </div>
            <div class="col-md-8  gy-1 gx-2 border_color">
              <div class="card-body " style="max-width: 540px;">
                <h5 class="card-title text-center text_color"><u>DESTINO</u> {{ cliente.ciudad }}</h5>
                <p class="card-text text_color "><strong><u>Nombre:</u></strong><span class="texto_color"> {{
                  cliente.nombre }}</span></p>
                <p class="card-text text_color "><strong><u>Dirección:</u></strong><span class="texto_color"> {{
                    cliente.direccion }}</span></p>
                <p class="card-text text_color"><strong><u>Población:</u></strong> {{ cliente.ciudad }}</p>
                <p class="card-text text_color"><strong><u>C.P:</u></strong> {{ cliente.cp }}</p>
                <p class="card-text text_color"><strong><u>Provincia:</u></strong></u> {{ cliente.provincia }}</p>
                <p class="card-text text_color"><strong><u>Bultos: </u></strong><input class="input_box" type="text"
                    id="bultos6" name="fname" style="text-align:center;font-weight: bold;"> </p>
                <p class="card-text text_color"><strong><u>Kg:</u></strong> <input class="input_box" type="text"
                    id="kg6" name="fname" style="text-align:center;font-weight: bold;"> </p>

              </div>
            </div>

          </div>


        </div>
      </div>


    </div>

  </div>



  </div>

  </div>
  <script>
    /*Códogo para añadir etiquetas a la página cada vez que se pulse en el icono mas, hara una copia de la primera etiqueta"*/
    /*Los divs de las etiquetas estan ocultos, se mostraran en función de la variable count */
    count = 1;

    function add_div() {

 
      bultos = document.getElementById("bultos").value;
      kg = document.getElementById("kg").value;
      console.log(bultos);
      console.log(count)


      if (count == 1) {

        document.getElementById("etiqueta2").className = "col etiqueta_show";
        document.getElementById("bultos2").value = bultos;
        document.getElementById("kg2").value = kg;
        count++;

      } else if (count == 2) {
        document.getElementById("etiqueta3").className = "col etiqueta_show";
        document.getElementById("bultos3").value = bultos;
        document.getElementById("kg3").value = kg;
        count++;
      } else if (count == 3) {
        document.getElementById("etiqueta4").className = "col etiqueta_show";
        document.getElementById("bultos4").value = bultos;
        document.getElementById("kg4").value = kg;
        count++;
      } else if (count == 4) {
        document.getElementById("etiqueta5").className = "col etiqueta_show";
        document.getElementById("bultos5").value = bultos;
        document.getElementById("kg5").value = kg;
        count++;
      } else if (count == 5) {
        document.getElementById("etiqueta6").className = "col etiqueta_show";
        document.getElementById("bultos6").value = bultos;
        document.getElementById("kg6").value = kg;

      }
      /*
    var myDiv = document.getElementById("id_base");
    var divClone = myDiv.cloneNode(true); // the true is for deep cloning
    document.body.appendChild(divClone);
   var original = document.getElementById("id_base");
  var clone = original.cloneNode(true);
  clone.removeAttribute("id");
  document.getElementById("id_base").appendChild(clone);
    */}
    function printHTML() { 
      if (window.print) { 
        window.print(); 
      } 
    }
  </script>

  {% endblock %}
</body>

</html>