{% extends "base.html" %}

{% block content %}


</div>
<div class="container">
  <h2 class="text-center mt-3">Bienvenido</h2><br>
<div class="card text-dark bg-light mb-3 shadow " >
  <div class="container">
    <form method="post"> <!-- Formulario para hacer login con wtform-->
      {{ form.hidden_tag() }}
      <div class="mb-3">
        
        {{ form.nombre.label (class_="form-label") }} {{ form.nombre (class_="form-control")}}
       
        
       
      </div>
      <div class="mb-3">
        {{ form.password.label (class_="form-label") }} {{ form.password  (class_="form-control", type="password")}}

      </div>

      <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</div>
</div>
</div>

{% endblock %}